#root {
  height: 100vh;
  width: 100%;
}

.leaflet-container {
  width: 100wh; 
  height: 100%;
  /* margin-top: 60px; */
  
}

.app-wrapper {
  height: 100vh;
  width: 100%;
}

.map-div {
  height: 100%;
  width: 100%;
  padding: 0;
}

.map-overlay {
  position: absolute;
  z-index: 9999;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.main-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 9999;
  background-color: #333;
  color: aliceblue;
  padding: 1rem 2rem;
  font-size: medium;
  border-radius: 15px;
}


.edit-cont {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 6rem;
  align-items: center;
  justify-content: space-between;

}

.marker-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 2rem;
  gap: 0.5rem;
  background-color: #1f1e1e;
}