#root {
  height: 100vh;
  width: 100%;
}

.leaflet-container {
  width: 100wh; 
  height: 100%;
  /* margin-top: 60px; */
  
}

.app-wrapper {
  height: 100vh;
  width: 100%;
}

.map-div {
  height: 100%;
  width: 100%;
  padding: 0;
}

.map-overlay {
  position: absolute;
  z-index: 9999;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}